{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h3>Nos dernières actualités</h3>
    {% for article in articles %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ article.title }}</h5>
                <h6 class="card-title">Par : {{ article.authors|map(p => "#{p.firstname} #{p.lastname}")|join(', ', ' et ') }}</h6>
                <p class="card-text">{{ article.content }}</p>
                                    <button class="btn btn-primary"><a href="{{ path('app_article_show', {'id': article.id}) }}" class="text-light text-decoration-none">Voir l'article</a></button>
           <p class="card-text"> Date d'écriture : {{ article.createdAt|date("d/m/Y - H:i") }}</p>
           {% if article.updatedAt %}
           <p class="card-text"> Dernière de modification : {{ article.updatedAt|date("d/m/Y - H:i") }}</p>
           {% endif %}
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
