{% extends 'base.html.twig' %}

{% block title %}Produits disponibles{% endblock %}

{% block body %}
    <div class="row text-center text-white mb-5">
        <div class="col-lg-7 mx-auto">
            <h1 class="display-4">Produits disponibles</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <ul class="list-group shadow">
                {% for product in products %}
                    <li class="list-group-item">
                        <div role="button" tabindex="0" class="media align-items-lg-center flex-column flex-lg-row p-3" onclick="window.location.replace('{{ path('app_product_show', {id: product.id})|escape('js') }}');">
                            <div class="media-body order-2 order-lg-1">
                                <p class="mb-0 small">
                                    <a href="{# path('app_category', {id: product.category.id}) #}">{{ product.category.name }}</a>
                                </p>
                                <h5 class="mt-0 font-weight-bold mb-2">{{ product.title }}</h5>
                                <p class="font-italic text-muted mb-0 small">{{ product.colors|join(' | ') }}</p>
                                <div class="d-flex align-items-center justify-content-between mt-1">
                                    <h6 class="font-weight-bold my-2">{{ product.price|format_currency('EUR') }}</h6>
                                    {% if addToCartForm is defined %}
                                        {{ form_start(addToCartForm) }}
                                        {# staticly pass product id into form #}
                                        {{ form_widget(addToCartForm.product, {'value': product.id}) }}
                                        <button type="submit" class="btn btn-primary btn-sm">
                                            <i class="fas fa-shopping-cart"></i>
                                            Ajouter au panier
                                        </button>
                                        {{ form_end(addToCartForm) }}
                                    {% endif %}
                                </div>
                            </div><img src="" alt="Image du produit" width="200" class="ml-lg-5 order-1 order-lg-2">
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
