{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}
    <h1>Article index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Content</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>IsPublished</th>
                <th>Authors</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.title }}</td>
                <td>{{ article.content }}</td>
                <td>{{ article.createdAt ? article.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ article.updatedAt ? article.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ article.isPublished ? 'Yes' : 'No' }}</td>
                <td>
                {% for author in article.authors %}
                {{ author.firstName}} {{ author.lastName }}<br />
                {% endfor %}
                </td>
                <td>{{ article.image }}</td>
                <td>
                    <button class="btn btn-primary"><a href="{{ path('app_article_show', {'id': article.id}) }}" class="text-light text-decoration-none">show</a></button>
                     <button class="btn btn-warning"><a href="{{ path('app_article_edit', {'id': article.id}) }}"  class="text-light text-decoration-none">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <button class="btn btn-primary"><a href="{{ path('app_article_new') }}"  class="text-light text-decoration-none">Create new</a></button>
{% endblock %}
