{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    <h1>Article</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ article.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ article.title }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ article.content }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ article.createdAt ? article.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ article.updatedAt ? article.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>IsPublished</th>
                <td>{{ article.isPublished ? 'Yes' : 'No' }}</td>
            </tr>
              <th>Authors</th>
                <td>  {% for author in article.authors %}
                {{ author.firstName}} {{ author.lastName }}<br />
                {% endfor %}</td>
            <tr>
                <th>Image</th>
                <td>{{ article.image }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_article_index') }}"><button class="btn btn-primary">Back to list</button></a>

    <a href="{{ path('app_article_edit', {'id': article.id}) }}"><button class="btn btn-warning">edit</button></a>

    {{ include('article/_delete_form.html.twig') }}
{% endblock %}
